*~
CMakeCache.txt
CMakeFiles/*
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
cmake_install.cmake
main
mainParallel
mainTester
insts/MSP/MixedLiu/Reproduce/CMakeFiles/
insts/MSP/MixedLiu/Reproduce/testerMain
.vs
out
build
